*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head{
    height: 230px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(6,6,6,1) 36%, rgba(65,63,63,1) 49%, rgba(0,0,0,1) 66%);
    flex-wrap: wrap;
}
img{
    border: 2px solid aqua;
    border-radius: 50%;
    height: 220px;
    width: 220px;
}
.leftHead{
    /* border: 2px solid green; */
    height: 180px;
    width: 400px;
    position: absolute;
    left: 5px;
    margin: 50px;
}
.name{
    font-size: 53px;
}
.role{
    padding: 5px;
    font-size: 26px;
}
.leftHead button{
    position: relative;
    left: 30px;
    top: 40px;
    width: 170px;
    height: 50px;
    font-size: 26px;
    background-color: rgb(0, 0, 0);
    padding-right: 30px;
    background-color: rgb(29, 33, 241);
}
.leftHead button svg {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 7px;
}
.rightHead {
    /* border: 2px solid blue; */
    position: absolute;
    right: 60px;
    height: 145px;
    width: 400px;
    font-size: 23px;
    top: 60px;
}
.instagram{
    position: relative;
    left: 30px;
    top: 40px;
    width: 290px;
    height: 50px;
    font-size: 19px;
    padding-left: 30px;
    background-color: rgb(80, 80, 90);
    border-radius: 5px;
}
.instagram svg {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 20px;
    top: 9px;
    background-color: rgb(80, 80, 90);
}
.contactMe{
    position: relative;
    left: 30px;
    top: 10px;
    width: 290px;
    height: 50px;
    font-size: 19px;
    background-color: rgb(4, 179, 4);
}
.afterheader{
    font-size: 27px;
    position: relative;
    top: 24px;
    left: 20px;
    color: rgb(5, 245, 145);
}
#skills{
    left: 200px;
    
}
.social{
    background-color: #1E1E1E;
    height: 350px;
    width: 300px;
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sites{
    background-color: rgb(49, 49, 49);
    margin: 5px;
    height: 50px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}
.whatIknow {
    background-color: #1E1E1E;
    width: 75vw;
    height: 350px;
    position: absolute;
    right: 35px;
    top: 305px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.skillSections {
    border: 2px solid rgb(229, 255, 0);
    width: 16vw;
    height: 250px;
    margin: 10px;
    padding: 10px;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Skills {
    font-size: 14px;
    width: 90px;
    height: 29px;
    border: 2px solid orange;
    /* position: absolute; */
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.SkillsHeading {
    position: absolute;
    top: 10px;
    background-color: #1E1E1E;
}